.cadastro-owner{
    align-items: center;
    margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.configurando-input{
	width: 702px;
	height: 79px;
	border-radius: 15px;
	padding-left: 10px;
	
}
.inputs-especificos{
	display: flex;

}
.cnpj {
	margin-left: 17px;
	padding-left: 10px;
}

.config-input-secondary{
	height: 79px;
	width: 340px;
	border-radius: 15px;
	margin-right: 22px;
	padding-left: 10px;
}
.inputs-especificos-secondary{
	display: flex;
}
.cidade{
	margin-left: 15px;
}
.config-input-tertiary{
	 width: 218px;
	 height: 79px;
	 border-radius: 15px;
	 margin-left: 10px;
	 margin-right: 15px;
	 padding-left: 10px;
	 
}

.cadastro-owner p{
   margin-left: 30px;
	
	margin-top: 5px;
	font-size: 18px;
	font-weight: 700;

}


.btn_cadastro_owner{
    width: 702px;
    height: 96px;
    color: #ffffff;
    background-color: #6CB935;
    border-style: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
	margin-bottom: 20px;
}

@media (max-width: 475px){
	.configurando-input{
		width: 318px;
		height: 48px;
	}
	.config-input-secondary{
		width: 145px;
		height: 48px;
	}
	.config-input-tertiary{
		width: 100px;
		height: 48px;
		margin-left: 0px;
		margin-right: 6px;
		
	}
	.btn_cadastro_owner{
		width: 200px;
		height: 60px;
		border-radius: 30px;
		font-size: 17px;
	}
}